* { 
box-sizing: border-box; 
font-family: sans-serif;
padding: 0px;
margin: 0px;
}

html, body { width: 100%;}

.desktopOnly{
    display:none;
}

.topHeader, .topHeader a, .topHeader p{
    background-color: rgb(12, 12, 51);
    color: white;
    text-decoration: none;
    font-style: italic;
    font-size: 0.5rem;
    display:flex;
    justify-content:flex-start;
    transition: ease 0.2s;
}

.SeccondHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background: #fff;
    flex-wrap: wrap;
    position: sticky;
    z-index: 1000;
    top: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,.06);
}

.SeccondHeader a{
    color: rgb(15, 15, 80) ;
    text-decoration: underline;
    text-underline-offset: 20%;
}

.logo01{
    max-width: 80px;
}

.nossaHistoria{
    display:grid;
    grid-template-columns: 1fr;
    min-height: 40vh;
    grid-column: 1/-1;
    padding: 1em;
    text-align: justify;
    line-height: 1.25em;

    background-color: rgb(12, 12, 46);
    color: white;
}

.fachadaimg{
    display:none;
}

.nossaHistoria h1{
    text-align: center;
    padding: 1em;
}

.servicosWhole{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0.6em;
}

.servicosWhole img{
    max-width: 300px;
    border-radius: 8px;
}

.servicosWhole p{
    padding: 1rem;
}

.depoimentos{
    display:grid;
}

@media (min-width:1024px){
    .desktopOnly{display:block}
    .desktopOnly a:hover{
        color: rgb(140, 209, 250);
        transition: ease 0.2s;
        font-size: bold;
        font-size:0.52rem;}

    .nossaHistoria{
        display:grid;
        grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr;
        grid-template-rows: 100px 500px
    } 

    .nossaHistoria h1{
        grid-column: 3/6;

        text-align: justify;
    }

    .nossaHistoria p{
        grid-column:3/6;
    }

    .servicosWhole{
        grid-template-columns: 2fr 3fr 3fr 3fr 2fr;
        grid-template-rows: 100px 500px;
    }

    .psm{grid-column: 2;}
    .ime{grid-column:3;}
    .cda{grid-column:4;}
    .servicosTitle{
        grid-column:3;
        text-align: center;
    }

}

        