
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
}


/* ---------------- */
.header__desktop-only{
    display:none;
}
/* ---------------- */

/* Header Principal  */
.header_img{
    max-width: 100%;
    max-height: 100%;
}

.header__navecagao-principal{
    height: 14vh;
    background-color: rgb(230, 230, 230);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__navegacao-principal__nav{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.header__navecagao-principal__link{
    color: #5f5f5f;
    transition: 0.5s ease;
}
/* Fim Header Principal */

/* Nossa história */
.historia{
    height: auto;
    min-height: 100vw;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    text-align: center;
    row-gap: 2vh;
    background-color: #012547;
    color: white;
    padding-bottom: 2vh;
}

.historia__h1{
    font-size: 1.5rem;
    grid-column: 2;
}

.historia__imagem{
    max-height: 50vh;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.historia__texto{
    grid-column: 2;
}
/* Fim de nossa história (poético) */

/* Inicio dos serviços */
.servicos{
    background-color: #d3d3d3;
    grid-template-columns: 1fr 8fr 1fr;
}
.servicos{
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5rem;
    text-align: center;
}

.servico_article{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    gap: 1vh;
}

.servico__img {
    border-radius: 8px;

    max-height: 90%;
    max-width: 40vw;

    grid-column: 2;

    align-self: center;
    justify-self: center;
}

.servico__titulo{
    grid-column: 2;
}

.servico__texto{
    grid-column: 2;
}
/* FIM DOS SERVICOS

INICIO DOS DEPOIMENTOS */
.depoimento__usuario{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-columns: 1fr 2fr 6fr 1fr;
}

.historia__h1{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

/* ////////////////////// */

.depoimento__usuario__nome{
    grid-column: 3;
}

.depoimento__usuario__texto{
    grid-column: 3/4;    
}

.depoimento__usuario__foto{
    border-radius:50%;
    max-height: 90%;
    max-width: 10vh;

    grid-column: 2;
    grid-row: 1/3;

    align-self: center;
    justify-self: center;
}


/* 
FIM DOS DEPOIMENTOS

INICIO DO FORMULARIO */

.forumulario__form{
    display: grid;
    gap: 1vh;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1.5rem 1.5rem 2fr;
}

.formulario__label__nome{
    grid-column: 2;
    grid-row: 1;
}

.formulario__input__nome{
    grid-column: 3/6;
    grid-row: 1;
}

.formulario__label__email{
    grid-column: 2;
    grid-row: 2;
}

.formulario__input__email{
    grid-column: 3/6;
    grid-row:2;
}

.formulario__label__mensagem{
    grid-column:2;
    grid-row:3;
}

.formulario__textarea__mensagem{
    grid-column: 3/6;
    grid-row:3
}

.textarea{
    resize: none;
    border-radius: 4px;
    border-color:#0164BE;
}

.input{
    border-radius: 4px;
    border-color:#0164BE;
}


.formulario{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
/* //////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 1024px) {

 /* Informações de cima */
  .header__desktop-only { 
    display: flex;
    height: 1vw;
    text-align: center;
 }

 .header__top-bar{
    width: 100%;
    display: flex;
    background-color: rgb(8, 8, 77);
    color: whitesmoke;
    justify-content: center;
    gap: 2vw;

    font-size: 0.65rem;
 }

 .header__nav{
    display: flex;
    gap: 2vw;
    text-decoration: none;
 }

.header__link{
    color: whitesmoke;
    transition: ease 0.5s;
 }

.header__link:hover{
    transition: ease 0.5s;
    color: rgb(121, 166, 226);
    font-size: 0.66rem;
 }
/*  Fim das informações de cima */

/* Header principal */
.header__navegacao-principal__nav{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.header__navecagao-principal__link:hover{
    transition: 0.5s ease;
    color: #0164BE;
}
/* Fim header Principal */

/* Nossa história */
.historia{
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 1fr;
    grid-template-rows: 10% 10% 10% 10% 50% 10%;
    text-align: center;
    row-gap: 1vh;
    column-gap: 1vw;
}

.historia__h1{
    font-size: 1.5rem;
    grid-column-start: 4;
    grid-row: 2;
    align-self:center;
}

.historia__imagem{
    max-height: 80vh;
    grid-column: 2;
    grid-column-end: 3;
    grid-row: 1/-1;
    justify-self: center;
    align-self: center;
    border-radius:8px;
}

.historia__texto{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    justify-self: center;
    align-self:center;
}
/* FIM DA HISTORIA */

/* INICIO DOS SERVICOS */
.servicos{
    height: 120vh;
}
.servico_article, .servico_article2{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;

    max-height: 35vh;

    line-height: 2em;
}

.servico__img{
    max-height: 95%;
    max-width: 30vw;

    grid-column: 2/4;
    grid-row:1/5;
}

.servico__titulo{
    grid-column: 4/6;
    grid-row:1;

    align-self: center;
}

.servico__texto{
    grid-column: 4/6;
    grid-row:2/4;
}

.servico__img2{
    max-height: 95%;
    max-width: 30vw;

    grid-column: 5/6;
    grid-row:1/5;
}

.servico__titulo2{
    grid-column: 2/4;
    grid-row:1/2;

    align-self: center;
}

.servico__texto2{
    grid-column: 2/4;
    grid-row:2/4;
}
}